---
const ID = Astro.props.ID;
const titulo = Astro.props.titulo;
---

<div
  class="-z-10 accordion-item accordion-item-active:scale-[1.05] accordion-item-active:mt-3 transition-transform ease-in duration-300 delay-[1ms]"
  id={ID}
>
  <button
    class="accordion-toggle inline-flex items-center gap-x-4 px-5 py-4 text-start"
    aria-controls={ID + "-collapse"}
    aria-expanded="false"
  >
    <span
      class="icon-[tabler--plus] accordion-item-active:hidden text-base-content size-4.5 block shrink-0"
    ></span>
    <span
      class="icon-[tabler--minus] accordion-item-active:block text-base-content size-4.5 hidden shrink-0"
    ></span>
    {titulo}
  </button>
  <div
    id={ID + "-collapse"}
    class="accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
    aria-labelledby={ID}
    role="region"
  >
    <div class="px-5 pb-4">
      <p class="text-base-content/80
                font-normal">
        <slot />
      </p>
      <slot name="extra" />
    </div>
  </div>
</div>
