---

---

<div class="dropdown relative inline-flex [--auto-close:inside">
  <button
    id="dropdown-default"
    type="button"
    class="dropdown-toggle btn btn-primary"
    aria-haspopup="menu"
    aria-expanded="false"
    aria-label="Dropdown"
  >
    Tema
    <span
      class="icon-[tabler--chevron-down] dropdown-open:rotate-180 size-5 overlay-minified:hidden"
    ></span>
  </button>
  <ul
    class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="dropdown-default"
  >
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Auto"
        value="default"
        data-set-theme="default"
        checked
      />
    </li>
    <div class="divider">Básicos</div>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Oscuro"
        value="dark"
        data-set-theme="dark"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Claro"
        value="light"
        data-set-theme="light"
      />
    </li>
    <div class="divider">Estilos varios</div>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Ghibli"
        value="ghibli"
        data-set-theme="ghibli"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Gourmet"
        value="gourmet"
        data-set-theme="gourmet"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Claude"
        value="claude"
        data-set-theme="claude"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Corporate"
        value="corporate"
        data-set-theme="corporate"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Luxury"
        value="luxury"
        data-set-theme="luxury"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Mintlify"
        value="mintlify"
        data-set-theme="mintlify"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Pastel"
        value="pastel"
        data-set-theme="pastel"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Perplexity"
        value="perplexity"
        data-set-theme="perplexity"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Shadcn"
        value="shadcn"
        data-set-theme="shadcn"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Slack"
        value="slack"
        data-set-theme="slack"
      />
    </li>

    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Soft"
        value="soft"
        data-set-theme="soft"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Spotify"
        value="spotify"
        data-set-theme="spotify"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Valorant"
        value="valorant"
        data-set-theme="valorant"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Vscode"
        value="vscode"
        data-set-theme="vscode"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Gourmet"
        value="gourmet"
        data-set-theme="gourmet"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-text w-full justify-start"
        aria-label="Black"
        value="black"
        data-set-theme="black"
      />
    </li>
  </ul>
</div>
