---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Layout Container -->

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>

  <div>
    <h5 class="text-base-content text-lg font-semibold">Body text</h5>
    <p class="text-base-content/80 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Small text</h5>
    <small class="text-base-content/80">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </small>
  </div>
  <div>
    <h5 class="text-base-content text-lg font-semibold">Muted text</h5>
    <p class="text-base-content/50 text-base">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Duis mollis, est non commodo luctus. Duis mollis, est non commodo
      luctus.Duis mollis, est non commodo luctus.
    </p>
  </div>
  <!-- / Content -->
</BaseLayout>
