---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Tipos de inteligencia";
---

<BaseLayout title={title}>
  <!-- Layout Container -->

  <h1>Piensa?</h1>
  <!-- / Content -->
</BaseLayout>
