---
import BaseLayout from "../../layouts/BaseLayout.astro";
export const title = "Tipos de inteligencia";
export const category = "Modelos de IA";
---

<BaseLayout title={title}>
  <!-- Layout Container -->

  <h1>Funcionamiento</h1>
  <!-- / Content -->
</BaseLayout>
