---
import BaseLayout from "../../layouts/BaseLayout.astro";
export const title = "Tipos de inteligencia";
export const category = "Conceptos Básicos";
---

<BaseLayout title={title}>
  <!-- Layout Container -->

  <h1>Tipos</h1>
  <!-- / Content -->
</BaseLayout>
